{% extends "base.html" %}
{% block content %}
<div class="product-detail">
    <h2>{{ product.name }}</h2>
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="Rasm" style="width:200px;">
    {% endif %}
    <p><b>Brend:</b> {{ product.brand }}</p>
    <p><b>Turi:</b> {{ product.type }}</p>
    <p><b>Sifat:</b> {{ product.quality }}</p>
    <p><b>Og'irligi:</b> {{ product.weight }} t</p>
    <p><b>Klass:</b> {{ product.cement_class }}</p>
    <p><b>Kelib chiqishi:</b> {{ product.origin }}</p>
    <p><b>Narxi:</b> {{ product.price }} so'm/tonna</p>
    <p>{{ product.description }}</p>
</div>
{% endblock %}